[submodule "bench/DeathStarBench-fork"]
	path = bench/DeathStarBench-fork
	url = https://github.com/estherlyoon/DeathStarBench.git

[submodule "bench/DeathStarBench"]
	path = bench/DeathStarBench
	url = git@github.com:delimitrou/DeathStarBench.git
